*{
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* Header */
header{
  position: fixed;
  overflow: hidden;
  background-color: #FFFFFF;
  padding: 20px 20;
  width: 100%;
}
#shadow{
  -moz-box-shadow: 0px 0px 11px rgba(0,0,0,1);
  -webkit-box-shadow: 0px 0px 11px rgba(0,0,0,1);
  box-shadow: 0px 0px 11px rgba(0,0,0,1);
  z-index: 999;
  position: fixed;
}
#shadow h1{
  font-family: 'Questrial', sans-serif;
  font-size: 2em;
  text-align: center;
  letter-spacing: 1px;
  padding: 10 10px;
}
#shadow h3{
  font-family: 'Questrial', sans-serif;
  font-size: 1em;
  text-align: center;
  letter-spacing: 1px;
  padding: 10 10px;
}
header span{
  font-weight: 300;
  color: #46C7C7
}
/*Google Map */
#map{
  float: left;
  width: 50%;
  margin: 0 auto;
  width: 800px;
  height: 800px;
  background-color: #CCC;
}
/* Text Field */
#text-wrap{
  float: left;
  background-color: #FFFFFF;
}
#text-wrap h1{
  font-family: 'Questrial', sans-serif;
  font-size: 35px;
}
#text-wrap h2{
  font-family: 'Questrial', sans-serif;
  font-size: 25px;
}
#text-wrap p{
  font-family: 'Questrial', sans-serif;
  font-size: 10px;
}

/* Site Wrapper - Everything that isn't navigation */
.site-wrap {
  /* Critical position and size styles */
  min-height: 100%;
  min-width: 100%;
  background-color: white; /* Needs a background or else the nav will show through */
  position: relative;
  top: 0;
  bottom: 100%;
  left: 0;
  z-index: 1;

  /* non-critical apperance styles */
  padding: 4em;
  background-image: linear-gradient(135deg, rgb(254,255,255) 0%,rgb(221,241,249) 35%,rgb(160,216,239) 100%);
  background-size: 200%;
}
body {
    /* Without this, the body has excess horizontal scroll when the menu is open */
  overflow-x: hidden;
}
/* Micro reset */
*,*:before,*:after{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;margin:0;padding:0;}
html, body { height: 100%; width: 100%; font-family: Helvetica, Arial, sans-serif; }

/* Media Queries */
@media only screen and (max-width: 1200px){
  #map{
    float: left;
    width: 50%;
    margin: 0 auto;
    width: 500px;
    height: 400px;
    background-color: #CCC;
  }
  #text-wrap{
    float: left;
  }
  #text-wrap h1{
    font-family: 'Questrial', sans-serif;
    font-size: 25px;
  }
  #text-wrap h2{
    font-family: 'Questrial', sans-serif;
    font-size: 15px;
  }
  #text-wrap p{
    font-family: 'Questrial', sans-serif;
    font-size: 10px;
  }

}
@media only screen and (max-width: 750px){
  #map{
    float: left;
    width: 50%;
    margin: 0 auto;
    width: 400px;
    height: 200px;
    background-color: #CCC;
  }
  #text-wrap{
    float: left;
  }
  #text-wrap h1{
    font-family: 'Questrial', sans-serif;
    font-size: 25px;
  }
  #text-wrap h2{
    font-family: 'Questrial', sans-serif;
    font-size: 15px;
  }
  #text-wrap p{
    font-family: 'Questrial', sans-serif;
    font-size: 10px;
  }
}
@media only screen and (max-width: 400px){
  #map{
    float: left;
    width: 50%;
    margin: 0 auto;
    width: 200px;
    height: 100px;
    background-color: #CCC;
  }
  #text-wrap{
    float: left;
  }
  #text-wrap h1{
    font-family: 'Questrial', sans-serif;
    font-size: 10px;
  }
  #text-wrap h2{
    font-family: 'Questrial', sans-serif;
    font-size: 8px;
  }
  #text-wrap p{
    font-family: 'Questrial', sans-serif;
    font-size: 5px;
  }
}
