<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!-- Mobile ViewPort -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Fonts -->
  <link href='https://fonts.googleapis.com/css?family=Questrial' rel='stylesheet' type='text/css'>
  <!-- Title -->
  <title>Get There Safe</title>
  <!-- Favicon -->
  <link rel="shortcut icon" href="{{ url_for('static', filename='icon.png') }}">
  <!-- Style Sheet -->
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/style.css') }}">
</head>

<body>
  <header id="shadow">
    <img src="{{ url_for('static',filename='GetThereSafeLogo.png') }}"/>
    <h1>-Don’t accidently buy drugs on the way home.-</h1>
  </header>

    <div class="site-wrap">

      <div>
        <div class="divmap" id="text-wrap">
          <h2>Input your current location and find the safest route home :D </h2>
          <p>"Get There Safe"  <br>
            Please type in your location and your desired destination.<br> <br>
          </p>
          <form>
            <input class="textbox" type="text" id="starting_point" placeholder="Current Location - 123 Street Victoria"> <br> <br>
            <input class="textbox" type="text" id="ending_point" placeholder="Destination"> <br> <br>
            <!-- TODO: Clear text field -->
          </form>
          <button class="button" id="bttn" style="cursor: pointer;">Search</button>
          <div id="spinner" class="spinner" style="display:none;">
            <img id="img-spinner" src="{{ url_for('static',filename='spinner.gif') }}" alt="Loading"/>
          </div>
          <div id="error" style="display:none;">
              <p>Could not load route</p>
          </div>
          <div id="info" style="display:none;">
              <p></p>
          </div>
        </div>
      </div>

      <div class="divmap"id="map">
      </div>

      <!-- <div class="bottom"> -->
      <!--  <p>Contains information licensed under the Open Government Licence – City of Victoria.</p> -->
      <!-- </div> -->

    </div>

    <script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?libraries=geometry"></script>
    <script type=text/javascript src="{{
    url_for('static', filename='js/scripts.js') }}"></script>
    <script src="https://maps.googleapis.com/maps/api/js?callback=initMap"
    async defer></script>

</body>
</html>
