<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!-- Mobile ViewPort -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Fonts -->
  <link href='https://fonts.googleapis.com/css?family=Questrial' rel='stylesheet' type='text/css'>
  <!-- Title -->
  <title>Get There Safe</title>
  <!-- Favicon -->
  <link rel="shortcut icon" href="{{ url_for('static', filename='icon.png') }}">
  <!-- Style Sheet -->
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/style.css') }}">
</head>

<body>
  <header id="shadow">
    <h1> GET THERE SAFE </h1>
    <h3>Don’t accidently buy drugs on the way home.</h3>
  </header>

    <div class="site-wrap">

        <div id="map"></div>

        <div id="text-wrap">
          <h2>Select your location and find the safest route home :D </h2>
          <p>Get There Safe use Victoria's Data to determine safe routes with lamppost and shizzzz.... <br>
          Type in your address.<br>
          </p>
          <form>
            <input type="text" id="starting_point" placeholder="Current Location"> <br>
            <input type="text" id="ending_point" placeholder="Destination"> <br>
          </form>
          <button id="bttn">Search</button>
        </div>

    </div>

    <script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?libraries=geometry"></script>
    <script type=text/javascript src="{{
    url_for('static', filename='js/scripts.js') }}"></script>
    <script src="https://maps.googleapis.com/maps/api/js?callback=initMap"
    async defer></script>
</body>
</html>
